span::-moz-selection {
  background: none;
}span::selection {
  background: none;
}

img::-moz-selection {
  background: none;
}

img::selection {
  background: none;
}

header h1::-moz-selection {
  background: rgba(228, 144, 44, 0.75);
}

header h1::selection {
  background: rgba(228, 144, 44, 0.75);
}
header h2::-moz-selection {
  background: rgba(228, 144, 44, 0.75);
}
header h2::selection {
  background: rgba(228, 144, 44, 0.75);
}
header h3::-moz-selection {
  background: rgba(228, 144, 44, 0.75);
}
header h3::selection {
  background: rgba(228, 144, 44, 0.75);
}
header h4::-moz-selection {
  background: rgba(228, 144, 44, 0.75);
}
header h4::selection {
  background: rgba(228, 144, 44, 0.75);
}

body {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 27%;
  height: 100%;
  background: #DFDFDF;
  color: #262626;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}
header article > div {
  background: #262626;
  width: 12.5px;
  height: 12.5px;
}
header article h1 {
  font-size: 17px;
}
header aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 90%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header aside .aside-letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
header aside .aside-letters h2 {
  all: unset;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: -4px;
}
header aside .middle-line {
  background: black;
  height: 280px;
  width: 2px;
  left: 52%;
  position: absolute;
}
header aside .change-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
header aside .change-img .next-img, header aside .change-img .back-img {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  text-align: center;
  padding: 18px 9px;
  border-radius: 50%;
  cursor: pointer;
}
header aside .change-img .next-img:hover, header aside .change-img .back-img:hover {
  border: 1px solid #262626;
}
header aside .change-img .next-img span, header aside .change-img .back-img span {
  all: unset;
  margin-right: -5.5px;
}
header .header-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  margin: 0 auto;
}
header .header-footer h3 {
  font-size: 13px;
}
header .header-footer h4 {
  font-size: 11.5px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 73%;
  height: 100%;
  background: url("../IMG/photo1.jpg") center no-repeat;
  -webkit-transition: 1s;
  transition: 1s;
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 95%;
  font-size: 12px;
  color: #DFDFDF;
  padding-top: 10px;
}
main nav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main nav .social .media {
  width: 100%;
  max-width: 20px;
}
main nav .social .media img {
  width: 100%;
}
main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 auto;
  width: 95%;
  margin-top: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 330px;
}
main section .section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 10px;
  width: 30%;
}
main section .section-left .cotain-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
main section .section-left .cotain-left h4 {
  font-size: 25px;
  color: white;
}
main section .section-left .cotain-left p {
  font-size: 13px;
  color: #DFDFDF;
}
main section .section-left .cotain-left .contain-top {
  padding: 10px 25px;
}
main section .section-left .cotain-left .contain-top .orange-line {
  width: 100%;
  height: 2px;
  background: #DB993D;
}
main section .section-left .cotain-left .contain-bottom {
  padding: 10px 25px;
  background: rgba(51, 51, 51, 0.2);
}
main section .section-left .cotain-left .contain-bottom .orange-line {
  width: 100%;
  height: 2px;
  background: #DB993D;
}
main section .section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  color: #DFDFDF;
  text-align: right;
  font-size: 13px;
}
main section .section-right .waves-img {
  width: 100%;
  max-width: 200px;
}
main section .section-right .waves-img img {
  width: 100%;
}
main footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
  margin: 0 auto;
  color: white;
  font-size: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.nn {
  background: url("../IMG/photo3.jpg") center no-repeat;
  -webkit-transition: 1s;
  transition: 1s;
  background-size: cover;
}